name: inclass15
description: Inventory Management with Firestore
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.24.0
  cloud_firestore: ^4.9.5

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true